@font-face {
    font-family: "Comic Sans MS";
    src: url("assets/fonts/Comic.ttf") format("TrueType");
    font-weight: normal;
    font-style: normal;
}

.container-card {
    display: flex;
    padding: 30px calc(50% - 500px);
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

header {
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px 0 #0006;
}

header {
    display: block;
}

body {
    font-family: sans-serif;
    margin: 0;
    display: block;
}

html {
    font-size: 20px;
    display: block;
}

.logo-img {
    height: 50px;
}

.logo-text {
    font-family: "Comic Sans MS", sans-serif;
}

.rate {
    height: 15px;
}
.container {
    display: flex;
    padding: 30px calc(50% - 500px);
}

.container-card {
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card__item {
    width: 300px;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 0 #0006;
    border-radius: 10px;
    cursor: pointer;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    }

.card__item:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    transition-duration: 2s;
  }

.card-img {
    height: 150px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .7;
}

.card__item p {
    display: flex;
    justify-content: space-between;
    padding: 0 111px;
    justify-content: center;
}
.rate {
    display: flex;
}

p, h1, h2, h3 {
    margin: 0;
}

footer {
    box-shadow: 0 0 5px 0 #0006;
    display: flex;
}

.info-wrapper.active {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 0 50px;
    background-color: #fff;
    padding: 30px;
    border: 1px solid;
    border-radius: 10px;
    position: relative;
    max-width: 1000px;
}

.info-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0008;
    align-items: center;
    justify-content: center;
    display: none;
}
.info-block.active {
    display: flex;
}

.info-img {
    height: 30px;
    width: 20px;
    width: 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    /* opacity: .7; */
} 

 .info-img {
    width: 100%;
    height: 100%;
 }

.information h2 {
    font-family: "Comic Sans MS", sans-serif;
    margin-bottom: 30px;
}
.information h3 {
    margin-bottom: 30px;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-image: url(img/close.png);
    background-position: center 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}